# Entornos virtuales
venv/
.env/
env/
.venv/

# Archivos de sistema
.DS_Store
Thumbs.db

# Caché de Python
__pycache__/
*.pyc
*.pyo

# Configuración de IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints
